<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuri.maven.dao.DepartmentMapper">


    <!--单表映射resultMap(由于数据库列名和JavaBean属性不一致)-->
    <resultMap id="myDeptMap" type="department">
        <id column="id" property="id"/>
        <result column="dept_name" property="departmentName"/>
        <result column="location" property="location"/>
    </resultMap>
    <select id="getDeptById" resultMap="myDeptMap">
         select * from dept where id=#{id}
    </select>


    <!--collection多表联合查询-->
    <resultMap id="MyDeptMap" type="department">
        <id column="id" property="id"/>
        <result column="dept_name" property="departmentName"/>
        <result column="location" property="location"/>
        <!--
            collection定义集合类型的封装规则
            ofType:指定集合里面的元素类型
        -->
        <collection property="persons" ofType="person">
            <id column="pid" property="id"/>
            <result column="user_name" property="userName"/>
            <result column="age" property="age"/>
            <result column="mobilePhone" property="mobilePhone"/>
        </collection>
    </resultMap>
    <select id="getDeptByIdPlus" resultMap="MyDeptMap">
            SELECT
                d.id id,
                d.dept_name dept_name,
                d.location location,
                p.id pid,
                p.age age,
                p.user_name user_name,
                p.mobilePhone mobilePhone
            FROM
                dept d
            LEFT JOIN person p ON d.id = p.d_id
            WHERE
                d.id =#{id}
    </select>


    <!--collection多表的关联[分步]查询-->
    <resultMap id="MyDeptByStep" type="department">
        <id column="id" property="id"/>
        <result column="dept_name" property="departmentName"/>
        <result column="location" property="location"/>
        <!--
            传递多列值:将多列值封装map传递
            column="{key1=column1,key2=column2}"
            fetchType的值有"lazy"/"eager"(设置此选项,全局加载策略将会无效)
            discriminator:鉴别器
        -->
        <collection property="persons" select="com.yuri.maven.dao.PersonMapper.getPersonsByDeptId"
                    column="{deptId=id}" fetchType="lazy" />
    </resultMap>
    <select id="getDeptByIdStep" resultMap="MyDeptByStep">
        select * from dept where id=#{id}
    </select>


</mapper>