<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuri.maven.dao.PersonMapper">

    <!--插入-->
    <insert id="insertPerson" parameterType="person" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PERSON(USER_NAME,AGE,MOBILEPHONE)
        VALUES (#{userName},#{age},#{mobilePhone})
    </insert>

    <!--根据id查询-->
    <select id="queryById" parameterType="int" resultType="person" databaseId="mysql">
        SELECT * FROM PERSON WHERE ID=#{id}
    </select>

    <!--查询全部-->
    <select id="queryAll" resultType="person" databaseId="mysql">
        select * from person
    </select>

    <!--更新数据-->
    <update id="updatePerson" parameterType="person">
        UPDATE PERSON SET
        AGE=#{age},
        MOBILEPHONE=#{mobilePhone}
        WHERE user_name=#{userName}
    </update>

    <!--删除记录-->
    <delete id="deletePerson" parameterType="int">
        delete from person where id=#{id}
    </delete>

    <!--多参数查询-->
    <select id="getPersonByIdAndName" resultType="person">
        select * from person where id=#{id} and user_name=#{userName}
    </select>

    <!--多参数封装map查询-->
    <!--可使用${}占位符替换表名-->
    <select id="getPersonByMap" resultType="person">
        select * from ${tableName} where id=#{id} and user_name=#{userName}
    </select>

    <!--返回集合类型的实体-->
    <select id="getPersonByUserNameLike" resultType="person">
        select * from person where user_name like #{userName}
    </select>

    <!--返回包含一条记录的map-->
    <select id="getPersonByIdReturnMap" resultType="map">
        select * from person where id=#{ID}
    </select>

    <!--返回包含多条记录的map-->
    <select id="getPersonByUserNameReturnMap" resultType="map">
        select * from person where user_name like #{userName}
    </select>


    <!--单表自定义结果集JavaBean封装规则-->
    <!--
        id:使用的别名,用于后面的resultMap
        type:JavaBean原生类名
        -->
    <resultMap id="MyPersonMap" type="person">
        <!--
            id:主键
            result:非主键
            column:数据库表列名
            property:JavaBean属性
        -->
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="age" property="age"/>
        <result column="mobilePhone" property="mobilePhone"/>
    </resultMap>
    <select id="getPersonByIdPlus" resultMap="MyPersonMap">
        select * from  person where id=#{id}
    </select>


    <!--多表联合查询,association可以指定联合的JavaBean对象-->
    <resultMap id="MyPersonLink" type="person">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="age" property="age"/>
        <result column="mobilePhone" property="mobilePhone"/>
        <!--
            property:JavaBean中的属性
            javaType:指定的对象它属性的类型
        -->
        <association property="dept" javaType="department">
            <id column="did" property="id"/>
            <result column="dept_name" property="departmentName"/>
            <result column="location" property="location"/>
        </association>

    </resultMap>

    <!--person表和dept表关联查询(一个person对应的dept信息)-->
    <select id="getPersonAndDept" resultMap="MyPersonLink">
        select p.id id,p.user_name user_name,p.age age,p.mobilePhone mobilePhone,d.id did, d.dept_name dept_name,d.location location
        from person p , dept d
        where p.d_id=d.id AND p.id=#{id}
    </select>


    <!--使用association进行[分步]查询
         1.先按照person的id查询员工信息
         2.根据person中的d_id查询dept中的信息
         3.将部门设置到person中
     -->
    <resultMap id="MyPersonByStep" type="person">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="age" property="age"/>
        <result column="mobilePhone" property="mobilePhone"/>
        <!--关联的属性dept需要DepartmentMapper.getDeptById的结果-->
        <!-- association定义关联对象的封装规则
            select:表明当前属性是调用select指定的方法查出的结果
            column:指定将哪一列的值传给这个方法
        -->
        <association property="dept" select="com.yuri.maven.dao.DepartmentMapper.getDeptById" column="d_id"/>
    </resultMap>
    <select id="getPersonByIdStep" resultMap="MyPersonByStep">
        select * from person where id=#{id}
    </select>


    <!--分布查询的延迟加载(department查询分步需要用到该查询)-->
    <select id="getPersonsByDeptId" resultType="person">
      select * from person where d_id=#{deptId}
    </select>


    <!--
        discriminator:鉴别器
        mybatis可以使用鉴别器判断某列的值,然后根据某列的值改变封装行为

        封装Person:
                    如果person的age是18岁,则查询部门信息,否则不查询部门信息
                    如果person的age是12岁,则将user_name赋值给mobilePhone
    -->
    <resultMap id="MyPersonDiscriminator" type="person">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="age" property="age"/>
        <result column="mobilePhone" property="mobilePhone"/>
        <!--
            column:指定要判断的列名
            javaType:列值对应的Java类型(如:string,int,bigDecimal)
        -->
        <discriminator javaType="int" column="age">
            <!--resultType:指定的封装的结果的类型[必须]-->
            <case value="18" resultType="person">
                <association property="dept" select="com.yuri.maven.dao.DepartmentMapper.getDeptById" column="d_id"/>
            </case>
            <case value="12" resultType="person">
                <id column="id" property="id"/>
                <result column="user_name" property="userName"/>
                <result column="age" property="age"/>
                <result column="user_name" property="mobilePhone"/>
            </case>
        </discriminator>
    </resultMap>
    <select id="getPersonByIdStep2" resultMap="MyPersonDiscriminator">
        select * from person where id=#{id}
    </select>


</mapper>
