<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.yuri.maven.dao.PersonMapper">


    <insert id="insertPerson" parameterType="person" >
        INSERT INTO PERSON(USER_NAME,AGE,MOBILEPHONE)
        VALUES (#{userName},#{age},#{mobilePhone})
    </insert>


    <select id="queryById" parameterType="int" resultType="person" databaseId="mysql">
        SELECT * FROM PERSON WHERE ID=#{id}
    </select>


    <select id="queryAll" resultType="person" databaseId="mysql">
        select * from person
    </select>

    <update id="updatePerson" parameterType="int">
        UPDATE PERSON SET USERNAME=#{userName},
        AGE=#{age},
        MOBILEPHONE=#{mobilePhone}
        WHERE ID=#{id}
    </update>
    
    <delete id="deletePerson">

    </delete>

</mapper>
