<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuri.maven.dao.PersonMapper">

    <!--插入-->
    <insert id="insertPerson" parameterType="person" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PERSON(USER_NAME,AGE,MOBILEPHONE)
        VALUES (#{userName},#{age},#{mobilePhone})
    </insert>

    <!--根据id查询-->
    <select id="queryById" parameterType="int" resultType="person" databaseId="mysql">
        SELECT * FROM PERSON WHERE ID=#{id}
    </select>

    <!--查询全部-->
    <select id="queryAll" resultType="person" databaseId="mysql">
        select * from person
    </select>

    <!--更新数据-->
    <update id="updatePerson" parameterType="person">
        UPDATE PERSON SET
        AGE=#{age},
        MOBILEPHONE=#{mobilePhone}
        WHERE user_name=#{userName}
    </update>

    <!--删除记录-->
    <delete id="deletePerson" parameterType="int">
        delete from person where id=#{id}
    </delete>

    <!--多参数查询-->
    <select id="getPersonByIdAndName" resultType="person">
        select * from person where id=#{id} and user_name=#{userName}
    </select>

    <!--多参数封装map查询-->
    <!--可使用${}占位符替换表名-->
    <select id="getPersonByMap" resultType="person">
        select * from ${tableName} where id=#{id} and user_name=#{userName}
    </select>

    <!--返回集合类型的实体-->
    <select id="getPersonByUserNameLike" resultType="person">
        select * from person where user_name like #{userName}
    </select>

    <!--返回包含一条记录的map-->
    <select id="getPersonByIdReturnMap" resultType="map">
        select * from person where id=#{ID}
    </select>

    <!--返回包含多条记录的map-->
    <select id="getPersonByUserNameReturnMap" resultType="map">
        select * from person where user_name like #{userName}
    </select>

</mapper>
